.page {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Inter", "Intel", "Arial", "Helvetica", sans-serif;
    max-width: 1280px;
    min-width: 320px;
    background-color: #2A2C2F;
    /* padding: 28px 48px 28px 48px; */
    margin: auto;
    color: rgba(255, 255, 255, 1);
    box-sizing: border-box;

}

@media screen and (max-width: 1024px) {
    .page {
        padding: 28px 0 28px 0;
    }
}

@media screen and (max-width: 927px) {
    .page {
        padding: 28px 0 0 0;
    }
}

@media screen and (max-width: 767px) {
    .page {
        padding: 0;
        width: 100%;
    }
}