.header__logo {
    box-sizing: border-box;
    min-height: 52px;
    max-width: 176px;
}

@media screen and (max-width: 767px) { 
    .header__logo {
        min-height: 42px;
        max-width: 142px;
    }
}