.about {
    padding: 105px 0 125px;
    max-width: 1280px;
    background-color: white;
    color: black;

}

.abouts {
    justify-content: space-between;
    display: flex;
    align-items: baseline;
    width: 80%;
    margin: auto;
}

.about-title {
    margin: 0;
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #993300;
}

.about-text {
    width: 80%;
    line-height: 34px;
    font-size: 24px;
    min-width: 784px;
}

.about__uls {
    padding: 0 20px;
}

.about__ul {}